<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@4"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@3.2.1"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@3"></script>
  </head>
    
  <body>
    <h1>Potential Well Sites</h1>
      <div id='vis'></div>
      <script>
	var spec = {{ chart | safe }};
        vegaEmbed("#vis", spec);
      </script>
  </body>
</html>
