{% extends "base.html" %}
{% from "_macros.html" import render_field %}
{% block head %}
<title>Candidate Wells Criteria</title>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Enter the well criteria</h2>
  <form id="input" method="post" action="/" novalidate>
    {{ form.csrf_token }}
    <div class="form-group">
      {{ render_field(form.depth_min, value=500) }}
    </div>
    <div class="form-group">
      {{ render_field(form.grad_min, value=0.05) }}
    </div>
    <button type="submit" class="btn btn-primary">Plot</button>
  </form>
</div>
{% endblock %}
